Repository webdoky/content: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, yarn test:front-matter-linter, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(HTML): web/html/element/input/reset (#3840)
  files/uk/web/html/element/input/reset/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css (#3841)
  files/uk/web/css/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html (#3842)
  files/uk/web/html/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/display (#3843)
  files/uk/web/css/display/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/video (#3844)
  en_spelling_additions.txt
  files/uk/web/html/element/video/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(HTML): web/html/element (#3845)
  files/uk/web/html/element/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(HTML): web/html/element/input
  files/uk/web/html/element/input/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/cursor
  files/uk/web/css/cursor/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/input/file
  files/uk/web/html/element/input/file/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/font-weight
  files/uk/web/css/font-weight/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/overflow
  files/uk/web/css/overflow/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/font-family
  files/uk/web/css/font-family/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/select
  files/uk/web/html/element/select/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(CSS): web/css/transform
  files/uk/web/css/transform/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/text-decoration
  files/uk/web/css/text-decoration/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/font-size
  files/uk/web/css/font-size/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/img
  files/uk/web/html/element/img/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(CSS): web/css/cursor (#3847)
  files/uk/web/css/cursor/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/input/file (#3848)
  files/uk/web/html/element/input/file/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/font-weight (#3849)
  files/uk/web/css/font-weight/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/overflow (#3850)
  files/uk/web/css/overflow/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/font-family (#3851)
  files/uk/web/css/font-family/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/transform (#3853)
  files/uk/web/css/transform/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/text-decoration (#3854)
  files/uk/web/css/text-decoration/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/font-size (#3855)
  files/uk/web/css/font-size/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/img (#3856)
  files/uk/web/html/element/img/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

chore: bump changelog
  CHANGELOG.md
Due: none

update(HTML): web/html/element/input (#3846)
  files/uk/web/html/element/input/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/filter
  files/uk/web/css/filter/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/pointer-events
  files/uk/web/css/pointer-events/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/pseudo-classes
  files/uk/web/css/pseudo-classes/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/filter (#3858)
  files/uk/web/css/filter/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/pointer-events (#3859)
  files/uk/web/css/pointer-events/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/pseudo-classes (#3860)
  files/uk/web/css/pseudo-classes/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

translation(CSS): web/css/animation
  files/uk/web/css/animation/index.md
  uk_ignore_additions.txt
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

Update files/uk/web/css/animation/index.md
  files/uk/web/css/animation/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/heading_elements (#3815)
  files/uk/web/html/element/heading_elements/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/attributes/autocomplete (#3822)
  en_spelling_additions.txt
  files/uk/web/html/attributes/autocomplete/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(JS): web/javascript/reference/global_objects/date/tolocaledatestring (#3800)
  files/uk/web/javascript/reference/global_objects/date/tolocaledatestring/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

Path conditions:
  eslint --quiet --fix: any of: *.js
  node scripts/markdownlint.js: any of: files/**/*.md
  node scripts/front-matter-linter.js --fix true: any of: files/**/*.md
  prettier --write --ignore-unknown: any of: files/**/*.md
  yarn test:front-matter-linter: any of: tests/**/*.*
  node --experimental-specifier-resolution=node ./scripts/sort-lines.js: any of: *_additions.txt
