Repository webdoky/content: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, yarn test:front-matter-linter, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(HTML): web/html/element/tr (#3817)
  files/uk/web/html/element/tr/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/input/submit (#3818)
  files/uk/web/html/element/input/submit/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/audio (#3819)
  files/uk/web/html/element/audio/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/input/time (#3820)
  files/uk/web/html/element/input/time/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/input/range (#3821)
  files/uk/web/html/element/input/range/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/input/button (#3823)
  files/uk/web/html/element/input/button/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/errors (#3824)
  files/uk/web/javascript/reference/errors/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(JS): web/javascript/reference/global_objects/json (#3825)
  files/uk/web/javascript/reference/global_objects/json/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/intl (#3826)
  files/uk/web/javascript/reference/global_objects/intl/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/strict_mode (#3828)
  files/uk/web/javascript/reference/strict_mode/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(glossary): glossary/iife
  files/uk/glossary/iife/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(guide): web/guide
  files/uk/web/guide/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(guide): web/guide
  files/uk/web/guide/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(Guide): web/guide (#3830)
  files/uk/web/guide/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(SVG): web/svg/attribute
  files/uk/web/svg/attribute/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(SVG): web/svg/attribute (#3831)
  files/uk/web/svg/attribute/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/operators/new
  files/uk/web/javascript/reference/operators/new/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/operators/function
  files/uk/web/javascript/reference/operators/function/index.md
  uk_ignore_additions.txt
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(JS): web/javascript/reference/operators/object_initializer
  files/uk/web/javascript/reference/operators/object_initializer/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

Update files/uk/web/javascript/reference/operators/function/index.md
  files/uk/web/javascript/reference/operators/function/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/arraybuffer
  files/uk/web/javascript/reference/global_objects/arraybuffer/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/string/localecompare
  files/uk/web/javascript/reference/global_objects/string/localecompare/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/bigint
  files/uk/web/javascript/reference/global_objects/bigint/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/source
  en_spelling_additions.txt
  files/uk/web/html/element/source/index.md
  uk_ignore_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(HTML): web/html/element/input/url
  files/uk/web/html/element/input/url/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/input/reset
  files/uk/web/html/element/input/reset/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/operators/new (#3832)
  files/uk/web/javascript/reference/operators/new/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/operators/object_initializer (#3834)
  files/uk/web/javascript/reference/operators/object_initializer/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/arraybuffer (#3835)
  files/uk/web/javascript/reference/global_objects/arraybuffer/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/string/localecompare (#3836)
  files/uk/web/javascript/reference/global_objects/string/localecompare/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/bigint (#3837)
  files/uk/web/javascript/reference/global_objects/bigint/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/source (#3838)
  en_spelling_additions.txt
  files/uk/web/html/element/source/index.md
  uk_ignore_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(HTML): web/html/element/input/url (#3839)
  files/uk/web/html/element/input/url/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css
  files/uk/web/css/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html
  files/uk/web/html/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/display
  files/uk/web/css/display/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/video
  en_spelling_additions.txt
  files/uk/web/html/element/video/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

chore: sort
  uk_spelling_additions.txt
Due: node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(HTML): web/html/element
  files/uk/web/html/element/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(JS): web/javascript/reference/iteration_protocols (#3827)
  files/uk/web/javascript/reference/iteration_protocols/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

Path conditions:
  eslint --quiet --fix: any of: *.js
  node scripts/markdownlint.js: any of: files/**/*.md
  node scripts/front-matter-linter.js --fix true: any of: files/**/*.md
  prettier --write --ignore-unknown: any of: files/**/*.md
  yarn test:front-matter-linter: any of: tests/**/*.*
  node --experimental-specifier-resolution=node ./scripts/sort-lines.js: any of: *_additions.txt
