Repository webdoky/content: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown, yarn test:front-matter-linter, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

.lintstagedrc.json:

{
  "*.js": ["eslint --quiet --fix"],
  "*.md": [
    "node scripts/markdownlint.js",
    "node scripts/front-matter_linter.js --fix true",
    "prettier --write --ignore-unknown"
  ],
  "tests/**/*.*": "yarn test:front-matter-linter",
  "*_additions.txt": [
    "node --experimental-specifier-resolution=node ./scripts/sort-lines.js"
  ]
}

update(CSS): web/css/background-image (#3025)
  files/uk/web/css/background-image/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css
  files/uk/web/css/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element
  files/uk/web/html/element/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/promise
  files/uk/web/javascript/reference/global_objects/promise/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

chore: spelling addition
  uk_spelling_additions.txt
Due: node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(HTML): web/html/element (#3180)
  files/uk/web/html/element/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/class_selectors (#3176)
  files/uk/web/css/class_selectors/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(CSS): web/css/id_selectors (#3173)
  files/uk/web/css/id_selectors/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

Apply suggestions from code review
  files/uk/web/css/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

Update files/uk/web/css/index.md
  files/uk/web/css/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

Apply suggestions from code review
  files/uk/web/javascript/reference/global_objects/object/freeze/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css (#3179)
  files/uk/web/css/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/object/freeze (#3148)
  files/uk/web/javascript/reference/global_objects/object/freeze/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

chore: bump changelog
  CHANGELOG.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

chore: more pkg upgrades
  .eslintrc.cjs
  package.json
  scripts/finishupdate.js
  scripts/send-comments.js
  tests/front-matter-linter.test.js
  uk_spelling_additions.txt
  yarn.lock
Due: eslint --quiet --fix, yarn test:front-matter-linter, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

chore: remove husky deprecations
  .husky/pre-commit
  package.json
Due: none

chore: Upgrade to NodeJS 20 [REDONE]
  .eslintrc.cjs
  .husky/pre-commit
  .markdownlint.jsonc
  .nvmrc
  .prettierignore
  .vscode/cspell.json
  .vscode/extensions.json
  .vscode/settings.json
  Dockerfile
  README.en.md
  README.md
  content-processor.txt
  en_spelling_additions.txt
  package.json
  scripts/finishupdate.js
  scripts/front-matter-linter.js
  scripts/front-matter-utils.js
  scripts/markdownlint.js
  scripts/send-comments.js
  scripts/sort-lines.js
  tests/front-matter-linter.test.js
  uk_spelling_additions.txt
  yarn.lock
Due: eslint --quiet --fix, node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown, yarn test:front-matter-linter, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(CSS): web/css/@layer
  files/uk/web/css/@layer/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

Update files/uk/web/css/@layer/index.md
  files/uk/web/css/@layer/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

Apply suggestions from code review
  files/uk/web/css/@layer/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

Update README.md
  README.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

chore: Upgrade to NodeJS 20 [REDONE] (#3182)
  .eslintrc.cjs
  .husky/pre-commit
  .markdownlint.jsonc
  .nvmrc
  .prettierignore
  .vscode/cspell.json
  .vscode/extensions.json
  .vscode/settings.json
  Dockerfile
  README.en.md
  README.md
  content-processor.txt
  en_spelling_additions.txt
  package.json
  scripts/finishupdate.js
  scripts/front-matter-linter.js
  scripts/front-matter-utils.js
  scripts/markdownlint.js
  scripts/send-comments.js
  scripts/sort-lines.js
  tests/front-matter-linter.test.js
  uk_spelling_additions.txt
  yarn.lock
Due: eslint --quiet --fix, node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown, yarn test:front-matter-linter, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

feat: use notecard markers
  .markdownlint.jsonc
Due: none

update(CSS): web/css/display
  files/uk/web/css/display/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/display (#3183)
  files/uk/web/css/display/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

fix: correct NodeJS 20 version in a workflow
  .github/workflows/translation.yml
Due: none

update(HTML): web/html/element/video
  files/uk/web/html/element/video/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

fix: correct indentation for marked notes
  .markdownlint.jsonc
Due: none

update(HTML): web/html/element/input
  files/uk/web/html/element/input/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/date
  files/uk/web/javascript/reference/global_objects/date/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/string
  files/uk/web/javascript/reference/global_objects/string/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/string/replace
  files/uk/web/javascript/reference/global_objects/string/replace/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter_linter.js --fix true, prettier --write --ignore-unknown
