Repository webdoky/content: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, yarn test:front-matter-linter, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

.lintstagedrc.json:

{
  "*.js": ["eslint --quiet --fix"],
  "files/**/*.md": [
    "node scripts/markdownlint.js",
    "node scripts/front-matter-linter.js --fix true",
    "prettier --write --ignore-unknown"
  ],
  "tests/**/*.*": "yarn test:front-matter-linter",
  "*_additions.txt": [
    "node --experimental-specifier-resolution=node ./scripts/sort-lines.js"
  ]
}

translation(Glossary): glossary/source_map (#3749)
  files/uk/glossary/source_map/index.md
  files/uk/glossary/source_map/inspector.png
  files/uk/glossary/source_map/style-editor.png
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

translation(HTML): web/html/element/td
  files/uk/web/html/element/td/column-row-span.html
  files/uk/web/html/element/td/column-row-span.png
  files/uk/web/html/element/td/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

Apply suggestions from code review
  files/uk/web/html/element/td/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/pseudo-classes
  files/uk/web/css/pseudo-classes/index.md
  uk_ignore_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

translation(CSS): web/css/css_properties_and_values_api (#2670)
  files/uk/web/css/css_properties_and_values_api/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/cascade
  files/uk/web/css/cascade/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

Apply suggestions from code review
  files/uk/web/css/_colon_where/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

Update files/uk/web/html/element/td/index.md
  files/uk/web/html/element/td/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

chore: bump changelog
  CHANGELOG.md
Due: none

translation(CSS): web/css/_colon_where (#2734)
  files/uk/web/css/_colon_where/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

translation(CSS): web/css/pseudo-classes (#2354)
  files/uk/web/css/pseudo-classes/index.md
  uk_ignore_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

Apply suggestions from code review
  files/uk/web/css/cascade/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

translation(CSS): web/css/layout_cookbook
  files/uk/web/css/layout_cookbook/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

Update files/uk/web/css/layout_cookbook/index.md
  files/uk/web/css/layout_cookbook/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/_colon_not
  files/uk/web/css/_colon_not/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/css_colors/applying_color
  files/uk/web/css/css_colors/applying_color/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/animation-range
  files/uk/web/css/animation-range/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/_colon_nth-child
  files/uk/web/css/_colon_nth-child/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(CSS): web/css/_colon_required
  files/uk/web/css/_colon_required/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/width
  files/uk/web/css/width/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/css_media_queries
  files/uk/web/css/css_media_queries/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

chore: невалідних
  uk_spelling_additions.txt
Due: node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(CSS): web/css/css_colors/applying_color (#3755)
  files/uk/web/css/css_colors/applying_color/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/animation-range (#3756)
  files/uk/web/css/animation-range/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/_colon_nth-child (#3757)
  files/uk/web/css/_colon_nth-child/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(CSS): web/css/_colon_required (#3758)
  files/uk/web/css/_colon_required/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/width (#3759)
  files/uk/web/css/width/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/css_media_queries (#3760)
  files/uk/web/css/css_media_queries/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/_colon_not (#3754)
  files/uk/web/css/_colon_not/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

Apply suggestions from code review
  files/uk/web/css/layout_cookbook/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

translation(CSS): web/css/_colon_has-slotted
  files/uk/web/css/_colon_has-slotted/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/pseudo-classes
  files/uk/web/css/pseudo-classes/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

translation(HTML): web/html/element/tbody
  files/uk/web/html/element/tbody/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(HTML): web/html/element/tbody
  files/uk/web/html/element/tbody/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

translation(JS): web/javascript/reference/global_objects/isnan/
  files/uk/web/javascript/reference/global_objects/isnan/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

Update files/uk/web/html/element/tbody/index.md
  files/uk/web/html/element/tbody/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

translation(CSS): web/css/_colon_has-slotted (#3761)
  files/uk/web/css/_colon_has-slotted/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

translation(CSS): web/css/layout_cookbook (#3753)
  files/uk/web/css/layout_cookbook/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js
