Repository webdoky/content: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, yarn test:front-matter-linter, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

.lintstagedrc.json:

{
  "*.js": ["eslint --quiet --fix"],
  "files/**/*.md": [
    "node scripts/markdownlint.js",
    "node scripts/front-matter-linter.js --fix true",
    "prettier --write --ignore-unknown"
  ],
  "tests/**/*.*": "yarn test:front-matter-linter",
  "*_additions.txt": [
    "node --experimental-specifier-resolution=node ./scripts/sort-lines.js"
  ]
}

Update files/uk/web/css/css_values_and_units/index.md
  files/uk/web/css/css_values_and_units/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css
  files/uk/web/css/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

chore: bump changelog
  CHANGELOG.md
Due: none

Update files/uk/web/css/index.md
  files/uk/web/css/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

Apply suggestions from code review
  files/uk/web/html/element/img/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/img
  files/uk/web/html/element/img/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

chore: валідно
  uk_spelling_additions.txt
Due: node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(JS): web/javascript/reference/global_objects/date/tolocalestring
  files/uk/web/javascript/reference/global_objects/date/tolocalestring/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/array/map
  files/uk/web/javascript/reference/global_objects/array/map/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/array/filter
  files/uk/web/javascript/reference/global_objects/array/filter/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/array/find
  files/uk/web/javascript/reference/global_objects/array/find/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/video
  files/uk/web/html/element/video/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/display
  files/uk/web/css/display/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(HTML): web/html/element/input
  files/uk/web/html/element/input/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(JS): web/javascript/reference/global_objects/array/reduce
  files/uk/web/javascript/reference/global_objects/array/reduce/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/array/foreach
  files/uk/web/javascript/reference/global_objects/array/foreach/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/array/sort
  files/uk/web/javascript/reference/global_objects/array/sort/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/array/slice
  files/uk/web/javascript/reference/global_objects/array/slice/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/display (#3888)
  files/uk/web/css/display/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(JS): web/javascript/reference/global_objects/array/splice
  files/uk/web/javascript/reference/global_objects/array/splice/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/string/replace
  files/uk/web/javascript/reference/global_objects/string/replace/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(JS): web/javascript/reference/global_objects/array/includes
  files/uk/web/javascript/reference/global_objects/array/includes/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/json/stringify
  files/uk/web/javascript/reference/global_objects/json/stringify/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/object/entries
  files/uk/web/javascript/reference/global_objects/object/entries/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/map
  files/uk/web/javascript/reference/global_objects/map/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/position
  files/uk/web/css/position/index.md
  files/uk/web/css/position/long.jpeg
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/object/keys
  files/uk/web/javascript/reference/global_objects/object/keys/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/global_objects/math/random
  files/uk/web/javascript/reference/global_objects/math/random/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/position (#3900)
  files/uk/web/css/position/index.md
  files/uk/web/css/position/long.jpeg
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/functions/arrow_functions
  files/uk/web/javascript/reference/functions/arrow_functions/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/statements/import
  files/uk/web/javascript/reference/statements/import/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/input/checkbox
  files/uk/web/html/element/input/checkbox/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(JS): web/javascript/reference/statements/import (#3904)
  files/uk/web/javascript/reference/statements/import/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/input/tel
  files/uk/web/html/element/input/tel/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/a
  files/uk/web/html/element/a/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/input/range
  files/uk/web/html/element/input/range/index.md
  uk_spelling_additions.txt
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown, node --experimental-specifier-resolution=node ./scripts/sort-lines.js

update(HTML): web/html/element/p
  files/uk/web/html/element/p/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(CSS): web/css/css_cascade/cascade
  files/uk/web/css/css_cascade/cascade/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/td
  files/uk/web/html/element/td/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown

update(HTML): web/html/element/select
  files/uk/web/html/element/select/index.md
Due: node scripts/markdownlint.js, node scripts/front-matter-linter.js --fix true, prettier --write --ignore-unknown
